html, body {
	background-image: url(images/font.jpg);
}

.label {
	font-size: 15px;
}

.top-container {
	position: relative;
	padding-top: 5%;
	font-weight: bold;
	color: #49DDDD;
	text-shadow: 
		-0   -1px 6px #4C6BB5,
		 0   -1px 6px #4C6BB5,
		-0    1px 6px #4C6BB5,
		 0    1px 6px #4C6BB5,
		-1px -0   6px #4C6BB5,
		 1px -0   6px #4C6BB5,
		-1px  0   6px #4C6BB5,
		 1px  0   6px #4C6BB5,
		-1px -1px 6px #4C6BB5,
		 1px -1px 6px #4C6BB5,
		-1px  1px 6px #4C6BB5,
		 1px  1px 6px #4C6BB5,
		-1px -1px 6px #4C6BB5,
		 1px -1px 6px #4C6BB5,
		-1px  1px 6px #4C6BB5,
		 1px  1px 6px #4C6BB5;
}

.top-container p {
	font-size: 25px;
}

.btn {
	margin-left: 10px;
	font-family: Tahoma;
}

header.text-center {
	font-size: 30px;
	color: white;
	text-shadow: 
		-0   -1px 6px #23EA37,
		 0   -1px 6px #23EA37,
		-0    1px 6px #23EA37,
		 0    1px 6px #23EA37,
		-1px -0   6px #23EA37,
		 1px -0   6px #23EA37,
		-1px  0   6px #23EA37,
		 1px  0   6px #23EA37,
		-1px -1px 6px #23EA37,
		 1px -1px 6px #23EA37,
		-1px  1px 6px #23EA37,
		 1px  1px 6px #23EA37,
		-1px -1px 6px #23EA37,
		 1px -1px 6px #23EA37,
		-1px  1px 6px #23EA37,
		 1px  1px 6px #23EA37;
}

.input-group {
	border-radius: 7px;
}

form {
	margin-left: 27.5%;
}

.start {
	font-weight: bold;
	font-size: 50px;
	text-shadow: 
		-0   -1px 6px #23EA37,
		 0   -1px 6px #23EA37,
		-0    1px 6px #23EA37,
		 0    1px 6px #23EA37,
		-1px -0   6px #23EA37,
		 1px -0   6px #23EA37,
		-1px  0   6px #23EA37,
		 1px  0   6px #23EA37,
		-1px -1px 6px #23EA37,
		 1px -1px 6px #23EA37,
		-1px  1px 6px #23EA37,
		 1px  1px 6px #23EA37,
		-1px -1px 6px #23EA37,
		 1px -1px 6px #23EA37,
		-1px  1px 6px #23EA37,
		 1px  1px 6px #23EA37;
}