.form .welcome {
	font-family: Comic Sans MS;
	font-weight: 200;
	color: #fff;
}

.form {
	float: left;
	margin-top: 100px;
	margin-left: 30%;
}

.form .mail-sub .form-sub {
	background-color: #FF4800;
	color: #fff;
	border: 0px ridge black;
	border-radius: 3px;
	padding-left: 15px;
	padding-right: 15px;
	padding-bottom: 10px;
	padding-top: 10px;
}

.form .mail-sub .form-sub:hover {
	transition: 0.5s;
	background-color: #EB5A02;
	border: 0px groove black;
}

body {
	background-color: #6C4D77;
}

.sub-sub {
	height: 20px;
	border-radius: 5px;
}