{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Title</title>
	<link rel="stylesheet" href="{% static 'landing.css' %}">
</head>
<body>
<div class="form">
	<h2 class="welcome"><p>Наш интернет магазин скоро откроется</p><p>Пожалуйста, оставьте свои данные в форме ниже.</p></h2>
	<form class="mail-sub" action="" method="post"> {% csrf_token %}
	<div>
		{{ form }}
		<div>
			<br>
			<button class="form-sub" type="submit"><strong><i>Отправить</i></strong></button>
		</div>
	</div>
	</form>
</div>
</body>
</html>