{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Title</title>
	<link rel="stylesheet" type="text/css" href="{% static 'css/landing.css' %}">
</head>
<body>
<div class="form">
	<h2 class="welcome"><p>Наш интернет магазин скоро откроется</p><p>Пожалуйста, оставьте свои данные в форме ниже.</p></h2>
	<p>E-mail: <input placeholder="Введите свой E-mail" name="email"></p>
	<p>Имя: <input placeholder="Введите свое имя" name="name"> <input type="submit" value="Отправить" name="mail-submit"></p>
</div>
</body>
</html>